:root {
    --font-family: 'Roboto', sans-serif;
    --primary-color: #7854F7;
    --dark-primary-color: #5d3dd1;
    --text-color: #272D4E;
}

* {
    margin: 0;
    padding: 0;
}

button:focus {
    outline: none;
}

body {
    background-color: #e5e5e5;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    padding: 0 1rem;
    overflow-x: hidden;
    position: relative;
}

body::before {
    content: "";
    background: linear-gradient( 
    180deg, #E5EFFF 0%, 
            rgba(229, 239, 255, 0.262661) 83.7%, 
            rgba(229, 239, 255, 0) 100%
    );
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100vh;
    width: 100%;
}

.menu {
    display: flex;
    padding: 1.5rem;
    align-items: center;
}

.menu .menu-nav {
    display: flex;
    list-style: none;
    margin-left: 140px;
}

.menu .menu-nav li {
    margin: 0 20px;
}

.menu .menu-nav li a {
    color: var(--text-color);
    text-decoration: none;
    font-weight: 500;
    transition: all 0.2s;
}

.menu .menu-nav li a:hover {
    color: var(--primary-color);
}

.menu .user-options {
    margin-left: auto;
}

.hero-heading {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}

.hero-heading .hero-text {
    max-width: 850px;
    margin-top: 5rem;
}

.hero-heading .hero-text .hero-title {
    font-size: 5em;
    color: var(--text-color);
    font-weight: 700;
}

.hero-heading .hero-text .hero-description {
    margin-top: 2.5rem;
    font-size: 1.2em;
    color: #94A2B3;
}

.hero-heading .hero-text .cta {
    margin-top: 2.5rem;
    color: #94A2B3;
    font-size: 18px;
}

.hero-heading .hero-text .cta .cta-link {
    color: #299EF3;
    text-decoration: none;
    font-weight: 700;
    margin-left: 1rem;
}

.hero-heading .hero-img {
    margin-right: -240px;
}